## T1-1. 이상치를 찾아라(IQR 활용)

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../input/titanic/train.csv')

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# EDA(간단한 탐색적 데이터 분석)
print(df.shape)
print(df.isnull().sum())
df.head()   # 난 이것만 하긴 함..

In [ ]:
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)

IQR = Q3 - Q1

print(Q1, Q3, IQR) # 제출 시엔 쓸데없는 print 지우고 제출하기!!!!

In [ ]:
range1 = Q3 + 1.5*IQR
range2 = Q1 - 1.5*IQR

print(range1, range2)

In [ ]:
# 이상치 데이터 구하기
data1 = df[df['Fare'] > range1]
data2 = df[df['Fare'] < range2]

In [ ]:
# 이상치 데이터에서 여성 수 구하기, 출력하기 print
cnt1 = len(data1[data1['Sex'] == 'female'])
cnt2 = len(data2[data2['Sex'] == 'female'])

print(cnt1 + cnt2)

### 이상적 코드..

In [ ]:
outdata1 = df[df['Fare']<(Q1 - 1.5 * IQR)]
outdata2 = df[df['Fare']>(Q3 + 1.5 * IQR)]
len(outdata1), len(outdata2)    # 여기서 미리 데이터 구성 확인 (0, 116)
# 사실상 outdata1에서는 count 할 필요 자체가 없음.. 조건에 맞는 데이터가 0개니깐..