# 작업 1유형

In [9]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df.info()
print(df.age.unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1137 non-null   int64
 1   gender             1137 non-null   object
 2   age                1137 non-null   object
 3   hypertension       1137 non-null   int64
 4   heart_disease      1137 non-null   int64
 5   ever_married       1137 non-null   object
 6   work_type          1137 non-null   object
 7   Residence_type     1137 non-null   object
 8   avg_glucose_level  1137 non-null   float64
 9   bmi                1085 non-null   float64
 10  smoking_status     1137 non-null   object
 11  stroke             1137 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 106.7+ KB
['31' '13' '18' '65' '4' '28' '64' '62' '26' '63' '50' '77' '1' '52' '24'
 '48' '45' '74' '3' '17' '54' '55' '67' '35' '38' '81' '34' '44' '79' '56'
 '70' '30' '39' '29' '80' '59' '51' '19' '43' '71' '0' '23' '53' '78' '66'
 '60' '76' '22' '6' '47' '2' '46' '11' '33' '37' '49' '61' '75' '40' '8'
 '57' '12' '21' '41' '58' '27' '20' '68' '42' '5' '69' '9' '36' '25' '82'
 '73' '32' '7' '16' '14' '72' '15' '10' '*82']

### Q1.성별이 Male인 환자들의 age의 평균값은 ?

In [10]:
# df.age -> numeric
df['age'] = df['age'].str.replace('*','').astype('int')
m = df[df.gender == 'Male'].age.mean()
print(m)

44.68623481781376

### Q2. bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

**소숫점 이하 3자리 까지 구하여라 == 4째자리에서 반올림**

In [13]:
# target = df['bmi'].dropna()
# print(target)
# pandas -> 알아서 결측치 처리하고 중앙값으로 채워줌
med = df['bmi'].median()
print(med)
res = df['bmi'].fillna(med).mean()
print(res)

0       27.2
1       18.6
2       33.0
3       46.0
4       16.2
        ...
1132    20.3
1133    18.9
1134    25.3
1135    29.7
1136    38.1
Name: bmi, Length: 1085, dtype: float64
28.5
29.166138962181172

### Q3. bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [17]:
fi = df['bmi'].fillna(method='ffill')
print(fi)
res = round(fi.mean(), 3)
print(res)
print(fi.mean())

0       27.2
1       18.6
2       33.0
3       46.0
4       16.2
        ...
1132    20.3
1133    18.9
1134    25.3
1135    29.7
1136    38.1
Name: bmi, Length: 1137, dtype: float64
29.188
29.1882145998241

/var/folders/wm/x6pc4kss2pq5vy_73n02wdqc0000gn/T/ipykernel_17099/791288658.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fi = df['bmi'].fillna(method='ffill')

### Q4. bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [20]:
mean = df.groupby(df.age//10*10).bmi.mean()
print(mean)
# 10대 단위 bmi 평균값 을 딕셔너리로 변환 -> 매핑해서 사용할 것
dic = {x:y for x,y in mean.items()}
idx = df.loc[df.bmi.isnull(), ['age', 'bmi']].index
# 결측치 매핑
df.loc[df.bmi.isnull(),'bmi'] = (df[df.bmi.isnull()].age//10*10).map(lambda x: dic[x])
result = df.bmi.mean()
print(result)

age
0     18.960784
10    24.477228
20    28.052747
30    31.751111
40    31.427097
50    31.894086
60    31.615873
70    30.447727
80    28.566667
Name: bmi, dtype: float64
29.2627029367386

### Q5.avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

In [25]:
# df.loc[조건, '컬럼'] : 원본 df에서 조건에 맞는 셀 직접 수정
# df[df.avg_glucose_level >= 200] : df의 복사본 반환
df.loc[df.avg_glucose_level >= 200, 'avg_glucose_level'] = 199
print(df.head())
print(round(df[df.stroke == 1].avg_glucose_level.mean(),3))

      id  gender  age  hypertension  heart_disease ever_married work_type  \
0   1192  Female   31             0              0           No  Govt_job
1     77  Female   13             0              0           No  children
2  59200    Male   18             0              0           No   Private
3  24905  Female   65             0              0          Yes   Private
4  24257    Male    4             0              0           No  children

  Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0          Rural              70.66  27.2     never smoked       0
1          Rural              85.81  18.6          Unknown       0
2          Urban              60.56  33.0     never smoked       0
3          Urban             199.00  46.0  formerly smoked       1
4          Rural              90.42  16.2          Unknown       0
125.188

# 작업 1유형 - 2

In [58]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Q6. Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [33]:
res = df.sort_values('Attack', ascending=False)
res1 = res.iloc[:400,:]
res2 = res.iloc[400:, :]
# print(res1)
# print(res2)
print(len(res1.loc[res1.Legendary]) - len(res2.loc[res2.Legendary]))

57

### Q7. Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [50]:
# 그룹핑 기준 : Type 1
res = df.groupby('Type 1').Total.mean().sort_values(ascending=False)
print(res.index[2])

Flying

### Q8. 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [57]:
res = df.dropna()
l = int(len(res)*0.6)
print(res[:l].Defense.quantile(.25))

50.0

### Q9. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [63]:
fire_m = df[df['Type 1'] == 'Fire'].Attack.mean()
print(len(df[(df['Type 1'] == 'Water') & (df['Attack'] >= fire_m)]))
print(df[(df['Type 1'] == 'Water') & (df['Attack'] >= fire_m)].shape)

37
(37, 13)

### Q10. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [73]:
# Generation 기준으로 그룹화
# result = abs(df.groupby(['Generation'])[['Speed','Defense']].mean().T.diff().T).sort_values('Defense').index[-1]
# 각 그룹별 Speed, Defense의 평균값 계산
res1 = df.groupby('Generation')[['Speed', 'Defense']].mean()
print(res1)

res2 = abs(res1.Speed - res1.Defense)
print(res2)
print(res2.sort_values().index[-1])

                Speed    Defense
Generation
1           72.584337  70.861446
2           61.811321  73.386792
3           66.925000  74.100000
4           71.338843  78.132231
5           68.078788  72.327273
6           66.439024  76.682927
Generation
1     1.722892
2    11.575472
3     7.175000
4     6.793388
5     4.248485
6    10.243902
dtype: float64
2

# 작업 2유형

In [79]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

display(train.head())
display(test.head())

print(train.info())
print(test.info())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1137 non-null   int64
 1   gender             1137 non-null   object
 2   age                1137 non-null   object
 3   hypertension       1137 non-null   int64
 4   heart_disease      1137 non-null   int64
 5   ever_married       1137 non-null   object
 6   work_type          1137 non-null   object
 7   Residence_type     1137 non-null   object
 8   avg_glucose_level  1137 non-null   float64
 9   bmi                1085 non-null   float64
 10  smoking_status     1137 non-null   object
 11  stroke             1137 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 106.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932 entries, 0 to 931
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 932 non-null    int64
 1   gender             932 non-null    object
 2   age                932 non-null    int64
 3   hypertension       932 non-null    int64
 4   heart_disease      932 non-null    int64
 5   ever_married       932 non-null    object
 6   work_type          932 non-null    object
 7   Residence_type     932 non-null    object
 8   avg_glucose_level  932 non-null    float64
 9   bmi                875 non-null    float64
 10  smoking_status     932 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 80.2+ KB
None

In [77]:
# stroke 예측 
from sklearn.model_selection import train_test_split

x = train.drop(columns=['id', 'stroke'])
xd = pd.get_dummies(x)
y = train['stroke']

# stratify = y : 데이터 분할 시 클래스 비율(분포) 유지 - 불균형한 범주형 데이터를 공평하게 나누고 싶을 때 필요
x_train, x_test, y_train, y_test = train_test_split(xd, y, stratify = y, random_state = 42)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
pred = rf.predict_proba(x_test)
# print(pred)

from sklearn.metrics import roc_auc_score
print('test roc score: ', roc_auc_score(y_test, pred[:,1]))

xt = test.drop(columns=['id'])
xtd = pd.get_dummies(xt)

test_pred = rf.predict_proba(xtd)
# csv 파일로 저장
# pd.DataFrame({'id': test.id, 'stroke': test_pred[:,1]}).to_csv('0000000.csv',index=False)

test roc score:  0.8247011952191236

In [81]:
# 모범답안
from sklearn.model_selection import train_test_split

# 전처리
train['age'] = train['age'].str.replace('*','').astype('int')
train['bmi'] = train['bmi'].fillna(train['bmi'].mean())
test['bmi'] = test['bmi'].fillna(test['bmi'].mean())
x = train.drop(columns = ['id', 'stroke'])
xd = pd.get_dummies(x)
y = train['stroke']

x_train, x_test, y_train, y_test = train_test_split(xd, y, stratify=y, random_state=42)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
pred = rf.predict_proba(x_test)

from sklearn.metrics import roc_auc_score
print('test roc score: ', roc_auc_score(y_test, pred[:,1]))

# one-hot encoding 시 train셋에만 존재하는 컬럼 존재
test_preprocessing = pd.get_dummies(test.drop(columns=['id']))

# train 데이터셋에 있는 컬럼이 test 데이터셋에 없을 경우, 누락된 컬럼을 0으로 추가
test_preprocessing[list(set(x_train.columns) - set(test_preprocessing))] = 0 
test_preprocessing = test_preprocessing[x_train.columns]
test_pred = rf.predict_proba(test_preprocessing)

# pd.DataFrame({'id': test.id, 'stroke': test_pred[:,1]}.to_csv('0000.csv',index=False))

AttributeError: Can only use .str accessor with string values!