# 작업 1 유형

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo

### Q1.데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라

In [5]:
df.shape

(1000, 18)

In [17]:
df = df.dropna()
df.loc[:, 'rank'] = list(range(1,101))*10
# df['rank'] = list(range(1,101))*10

print(df)
result = df[df['rank'] == 1].bpm.mean()
print(result)

                                             title              artist  \
0                    STARSTRUKK (feat. Katy Perry)               3OH!3
1                      My First Kiss (feat. Ke$ha)               3OH!3
2                                  I Need A Dollar          Aloe Blacc
3    Airplanes (feat. Hayley Williams of Paramore)               B.o.B
4                Nothin' on You (feat. Bruno Mars)               B.o.B
..                                             ...                 ...
995                                     SICKO MODE        Travis Scott
996                                      EARFQUAKE  Tyler, The Creator
997                      Boasty (feat. Idris Elba)               Wiley
998                    Strike a Pose (feat. Aitch)    Young T & Bugsey
999      The London (feat. J. Cole & Travis Scott)          Young Thug

       top genre  year released       added    bpm  nrgy  dnce   dB  live  \
0      dance pop         2009.0  2022‑02‑17  140.0  81.0  61.0 -6.0  23.0
1      dance pop         2010.0  2022‑02‑17  138.0  89.0  68.0 -4.0  36.0
2       pop soul         2010.0  2022‑02‑17   95.0  48.0  84.0 -7.0   9.0
3    atl hip hop         2010.0  2022‑02‑17   93.0  87.0  66.0 -4.0   4.0
4    atl hip hop         2010.0  2022‑02‑17  104.0  85.0  69.0 -6.0   9.0
..           ...            ...         ...    ...   ...   ...  ...   ...
995      hip hop         2018.0  2020‑06‑22  155.0  73.0  83.0 -4.0  12.0
996      hip hop         2019.0  2020‑06‑22   80.0  50.0  55.0 -9.0  80.0
997        grime         2019.0  2020‑06‑22  103.0  77.0  89.0 -5.0   9.0
998    afroswing         2019.0  2020‑08‑20  138.0  58.0  53.0 -6.0  10.0
999  atl hip hop         2019.0  2020‑06‑22   98.0  59.0  80.0 -7.0  13.0

      val    dur  acous  spch   pop  top year artist type  rank
0    23.0  203.0    0.0   6.0  70.0    2010.0         Duo     1
1    83.0  192.0    1.0   8.0  68.0    2010.0         Duo     2
2    96.0  243.0   20.0   3.0  72.0    2010.0        Solo     3
3    38.0  180.0   11.0  12.0  80.0    2010.0        Solo     4
4    74.0  268.0   39.0   5.0  79.0    2010.0        Solo     5
..    ...    ...    ...   ...   ...       ...         ...   ...
995  45.0  313.0    1.0  22.0  86.0    2019.0        Solo    96
996  41.0  190.0   23.0   7.0  85.0    2019.0        Solo    97
997  46.0  177.0    1.0   7.0  68.0    2019.0        Solo    98
998  59.0  214.0    1.0  10.0  67.0    2019.0         Duo    99
999  18.0  200.0    2.0  15.0  75.0    2019.0        Solo   100

[1000 rows x 18 columns]
125.6

### Q2. 2015년도에 가장많은 top100곡을 올린 artist는 누구인가?

In [18]:
ans = df[df['top year'] == 2015].artist.value_counts().index[0]
print(ans)

Taylor Swift

### Q3. 년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?

In [16]:
res = df[(df['rank'] >= 1) & (df['rank'] <=10)]['top genre'].value_counts()
print(res)

top genre
dance pop                    40
atl hip hop                   7
british soul                  7
boy band                      4
garage rock                   3
detroit hip hop               3
melodic rap                   3
emo rap                       2
modern rock                   2
pop soul                      2
canadian contemporary r&b     2
latin                         2
canadian pop                  2
gangster rap                  1
grime                         1
art pop                       1
electropop                    1
basshall                      1
afroswing                     1
london rap                    1
social media pop              1
hip hop                       1
israeli pop                   1
east coast hip hop            1
metropopolis                  1
alt z                         1
kentucky hip hop              1
contemporary country          1
modern alternative rock       1
indie poptimism               1
indie rock                    1
bass trap                     1
la indie                      1
pop                           1
Name: count, dtype: int64

### Q4.피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?

In [31]:
ans = df['title'].str.split('.').str[1].value_counts()
print(ans.index[1])

 Bruno Mars)

### Q5. top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?

In [32]:
res = df[df['top year'] != df['year released']]['top year'].value_counts()
print(res)

top year
2016.0    37
2011.0    34
2010.0    33
2013.0    33
2015.0    31
2012.0    28
2017.0    26
2014.0    23
2019.0    21
2018.0    19
Name: count, dtype: int64

### Q6. artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?

In [35]:
# 대소문자 구분없이 -> 다 소문자로 바꿔놓고. .str.contains('q')로 체크
ans = df[df['artist'].str.lower().str.contains('q')].artist.unique()
print(len(ans))

6

### Q7. 년도 상관없이 전체데이터에서 1 ~ 50위와 51 ~ 100위간의 dur 컬럼의 평균값의 차이는?

In [36]:
m1 = df[(df['rank']>=1) & (df['rank'] <=50)].dur.mean()
m2 = df[(df['rank']>=51) & (df['rank']<=100)].dur.mean()
print(abs(m1-m2))

0.896000000000015

In [37]:
# 모범답안..
result = df[df['rank'].isin(range(1,51))].dur.mean() - df[df['rank'].isin(range(51,101))].dur.mean()
print(result)

0.896000000000015

### Q8. title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x)

In [39]:
res = df['title'].str.lower().str.split().explode().str.lower().value_counts().index[0]
print(res)

title
[paradise]                                            3
[sorry]                                               3
[don't]                                               3
[history]                                             2
[closer]                                              2
                                                     ..
[started, from, the, bottom]                          1
[need, u, (100%), (feat., a*m*e), -, radio, edit]     1
[the, monster]                                        1
[berzerk]                                             1
[the, london, (feat., j., cole, &, travis, scott)]    1
Name: count, Length: 945, dtype: int64

In [44]:
res = df[['artist', 'artist type']].value_counts().reset_index().artist.value_counts()
print(res)

artist
Rudimental       2
Taylor Swift     1
B Young          1
Ashley O         1
Tim Berg         1
                ..
Mark Ronson      1
Offset           1
Jason Aldean     1
Martin Garrix    1
CeeLo Green      1
Name: count, Length: 444, dtype: int64

# 작업 2유형

In [52]:
import pandas as pd
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")

display(x_train)
display(y_train)
display(test)

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
3,5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
4,6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4645,5806,3.0,-3.0,-4.0,-9.0,-10.0,7.0,-3.0,-5.0,-6.0,...,-2.0,-2.0,-15.0,-6.0,0.0,0.0,22.0,23.0,-4.0,-3.0
4646,5807,71.0,19.0,-18.0,-39.0,-26.0,-29.0,-28.0,0.0,11.0,...,-54.0,-6.0,-34.0,-29.0,-8.0,-12.0,2.0,-7.0,55.0,19.0
4647,5808,-10.0,-7.0,-2.0,-6.0,-1.0,9.0,-76.0,-17.0,40.0,...,91.0,30.0,24.0,-3.0,1.0,8.0,0.0,-7.0,-76.0,28.0
4648,5809,6.0,4.0,5.0,4.0,-11.0,-2.0,11.0,11.0,-19.0,...,-7.0,-14.0,-67.0,-3.0,-4.0,-2.0,-5.0,7.0,14.0,22.0
4649,5810,-2.0,0.0,0.0,-1.0,4.0,11.0,-2.0,-19.0,13.0,...,-5.0,-2.0,-10.0,4.0,0.0,-3.0,-12.0,-22.0,-4.0,5.0

        ID  pose
0        0     1
1        2     0
2        4     1
3        5     0
4        6     1
...    ...   ...
4645  5806     1
4646  5807     0
4647  5808     0
4648  5809     0
4649  5810     1

[4650 rows x 2 columns]

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,1,-12.0,-7.0,3.0,6.0,-21.0,-28.0,1.0,6.0,-18.0,...,2.0,20.0,-25.0,-2.0,1.0,0.0,12.0,-2.0,-1.0,-4.0
1,3,-9.0,-16.0,-2.0,-1.0,39.0,17.0,3.0,1.0,-9.0,...,0.0,1.0,-1.0,-5.0,-4.0,-7.0,56.0,28.0,1.0,6.0
2,8,-4.0,-1.0,-1.0,1.0,3.0,-1.0,4.0,7.0,3.0,...,-4.0,-8.0,5.0,2.0,0.0,2.0,13.0,-3.0,0.0,4.0
3,10,2.0,1.0,2.0,1.0,-14.0,-2.0,0.0,-3.0,-25.0,...,-1.0,-5.0,12.0,-3.0,-5.0,-9.0,4.0,20.0,-1.0,-4.0
4,17,33.0,-8.0,-4.0,-3.0,-14.0,-6.0,-1.0,0.0,23.0,...,-20.0,-2.0,6.0,2.0,5.0,23.0,2.0,-21.0,-41.0,-23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1158,5786,-2.0,5.0,-1.0,-13.0,-9.0,-12.0,-108.0,-27.0,10.0,...,10.0,4.0,-4.0,-15.0,-11.0,-29.0,-21.0,-25.0,-17.0,-47.0
1159,5796,-13.0,-21.0,-15.0,-8.0,-3.0,8.0,-8.0,0.0,5.0,...,23.0,-7.0,13.0,-10.0,-7.0,-3.0,10.0,-6.0,-18.0,-18.0
1160,5802,9.0,2.0,-1.0,-1.0,-9.0,-1.0,-2.0,3.0,1.0,...,2.0,0.0,-8.0,-1.0,1.0,3.0,22.0,-6.0,-1.0,-3.0
1161,5811,-1.0,-1.0,0.0,-3.0,-45.0,-32.0,-4.0,0.0,3.0,...,-1.0,-1.0,-20.0,-6.0,-3.0,-2.0,4.0,15.0,-2.0,-12.0
1162,5812,18.0,0.0,4.0,2.0,-7.0,-30.0,-47.0,-25.0,-1.0,...,18.0,3.0,-22.0,1.0,-15.0,-15.0,-1.0,-8.0,15.0,9.0

In [53]:
from sklearn.model_selection import train_test_split

x = x_train.drop(columns=['ID'])
xd = pd.get_dummies(x)
y = y_train.drop(columns=['ID'])

x_train, x_test, y_train, y_test = train_test_split(xd, y, stratify=y, random_state=42)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
pred = rf.predict_proba(x_test)

from sklearn.metrics import roc_auc_score
print('test roc score: ', roc_auc_score(y_test, pred[:,1]))

/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/sklearn/base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

test roc score:  0.9999748626316755