In [86]:
import pandas as pd

# Ïú†ÌäúÎ∏å Ïù∏Í∏∞ ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60399 entries, 0 to 60398
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      60399 non-null  int64
 1   title           60399 non-null  object
 2   channelTitle    60399 non-null  object
 3   categoryId      60399 non-null  int64
 4   view_count      60399 non-null  int64
 5   likes           60399 non-null  int64
 6   dislikes        60399 non-null  int64
 7   comment_count   60399 non-null  int64
 8   channelId       60399 non-null  object
 9   trending_date2  60399 non-null  object
dtypes: int64(6), object(4)
memory usage: 4.6+ MB

In [65]:
# Q1 Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàò -> Ï†ïÎ†¨Ìï¥ÏÑú 10Í∞ú Ï∂úÎ†•
# channelId Ïπ¥Ïö¥Ìä∏ -> 
# value_counts: seriesÎ•º Î∞òÌôòÌïòÎØÄÎ°ú 
ans = list(df[df['channelId'].isin(df.channelId.value_counts().head(10).index)]['channelTitle'].unique())
ans

['Ïû•ÏÇêÏ≠à',
 'Ï¥ùÎ™áÎ™Ö',
 'ÌååÎøåÎ¶¨',
 'Ïß§Ìà∞',
 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê',
 'SPOTV',
 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº',
 'Ïù¥Í≥ºÏû•',
 'BANGTANTV']

In [66]:
# Q2
# dislikes > like Î•º ÎßåÏ°±ÌïòÎäî ÏòÅÏÉÅ ÌïÑÌÑ∞ÎßÅ
# Ï±ÑÎÑê title
# print(df[df['dislikes'] > df['likes']])
ans = list(df[df['dislikes']>df['likes']].channelTitle.unique())
print(ans)

['Ìï´ÎèÑÍ∑∏TV', 'ASMR Ïï†Ï†ïTV', 'ÌïòÏñÄÌä∏Î¶¨HayanTree', 'ÏñëÌå° YangPang', 'Ï≤†Íµ¨Ìòï (CHULTUBE)', 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§', '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä', 'Ïò§Î©îÌÇ¥TV', 'Ïú°ÏßÄÎã¥', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà', 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO', 'Gen.G esports']

In [67]:
# Q3
# channelIdÎäî ÎèôÏùºÌïúÎç∞, channelTitleÏù¥ Îã§Î•∏ Í≤ΩÏö∞ count
ans = df[['channelId', 'channelTitle']].drop_duplicates()
res = ans.channelId.value_counts()
# Ïó¨Í∏∞ÏÑú resÎäî seriesÍ∞ùÏ≤¥!! (Ïª¨Îüº ÌïòÎÇò) -> Î∞îÎ°ú Ï°∞Í±¥ Í±∏ Ïàò o
# value_counts()Ïùò Í∞íÏù¥ 1Î≥¥Îã§ ÌÅ∞ Í≤É == ÌÉÄÏù¥ÌãÄÏùò Îì±Ïû•ÌöüÏàòÍ∞Ä Ïó¨Îü¨ Î≤à Ïù∏ Í≤É
target = res[res>1]
print(len(target))

71

In [87]:
# Q4
# ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§ Ï§ë Í∞ÄÏû• ÎßéÏùÄ categoryId
# trending_date2.weekday Í∞Ä 6
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60399 entries, 0 to 60398
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      60399 non-null  int64
 1   title           60399 non-null  object
 2   channelTitle    60399 non-null  object
 3   categoryId      60399 non-null  int64
 4   view_count      60399 non-null  int64
 5   likes           60399 non-null  int64
 6   dislikes        60399 non-null  int64
 7   comment_count   60399 non-null  int64
 8   channelId       60399 non-null  object
 9   trending_date2  60399 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(6), object(3)
memory usage: 4.6+ MB

In [71]:
# idxmax ÏÇ¨Ïö©: Í∞ÄÏû• ÌÅ∞ Í∞íÏùÑ Í∞ÄÏßÑ indexÎ•º Î∞òÌôò
# !!!!! value_counts()Ïùò Î∞òÌôòÍ∞íÏùÄ series Í∞ùÏ≤¥!!!
ans = df[df['trending_date2'].dt.weekday == 6].categoryId.value_counts().idxmax()
print(ans)

'''
ans = df[df['trending_date2'].dt.weekday == 6].categoryId.value_counts()
print(ans.index[0])
print(ans.index.values[0])
'''

24

"\nans = df[df['trending_date2'].dt.weekday == 6].categoryId.value_counts()\nprint(ans.index[0])\nprint(ans.index.values[0])\n"

In [88]:
# Q5
# ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryId Í∞úÏàò -> Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑ
# .pivot
group = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
answer = group.pivot(index='categoryId', columns='trending_date2')
display(answer)

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [101]:
# Q6
# comment_count / view_count Í∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅ
# view_count = 0 Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏
target2 = df.loc[df.view_count!=0]
t = target2.copy()
t['ratio'] = (target2['comment_count']/ target2['view_count']).dropna()
result = t.sort_values(by='ratio', ascending=False).head(1).title
print(result.values[0])
# print(result.head(1).title.values[0])

60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)

In [108]:
# Q7
# comment_count / view_count Í∞Ä ÏµúÏÜåÏù∏ ÏòÅÏÉÅ(view_count, ratio= 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏)
ratio = (df['comment_count'] / df['view_count']).dropna().sort_values()
ratio[ratio!=0].index[0]

result = df.iloc[ratio[ratio!=0].index[0]]
print(result.title)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

In [112]:
# Q8
# dislike / like Í∞Ä Ï†ÅÏùÄ ÏòÅÏÉÅ 
# Îã®, like, dislike == 0 Ïù∏ Í±¥ Ï†úÏô∏

'''
target = df.loc[(df.likes != 0 ) & (df.dislikes!=0)]
num = (target['dislikes']/target['likes']).sort_values().index[0] -> Ïù∏Îç±Ïä§!!

answer = df.iloc[num].title
print(answer)
'''

ratio = (df['dislikes']/df['likes']).dropna().sort_values()
res = df.iloc[ratio[ratio!=0].index[0]]
print(res.title)

[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞

In [125]:
# 9
# Í∞ÄÏû• ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅ Ï†úÏûë Ï±ÑÎÑê
# Ï±ÑÎÑê id Í∏∞Ï§Ä ÎπàÎèÑÏàò Í≥ÑÏÇ∞

ans = df[df['channelId'] == df['channelId'].value_counts().index[0]].channelTitle.unique()[0]
print(ans)

Ïß§Ìà∞

In [137]:
# 10
ans = df[['title','channelId']].value_counts()
# ans = df.groupby(['title', 'channelId']).value_counts() # xxx -> groupby -> value_counts Ï°¥Ïû¨ x
print(len(ans[ans>=20]))

40

### Ïú†ÌäúÎ∏å Í≥µÎ≤îÏª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞

In [139]:
import pandas as pd
channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1